<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

 <!-- If training wheels activated, create wheels to avoid the robot to flip or collapse -->
      <visual name="training_wheel_1">
        <origin xyz="0 0.5 0.5" rpy="0 0 0"/>
        <geometry>
          <sphere radius="0.05"/>
        </geometry>
      </visual>
      <collision name="training_wheel_1">
        <origin xyz="0 0.5 0.5" rpy="0 0 0"/>
        <geometry>
          <sphere radius="0.05"/>
        </geometry>
      </collision>
      <visual name="training_wheel_2">
        <origin xyz="0.25 -0.5 0.5" rpy="0 0 0"/>
        <geometry>
          <sphere radius="0.05"/>
        </geometry>
      </visual>
      <collision name="training_wheel_2">
        <origin xyz="0.25 -0.5 0.5" rpy="0 0 0"/>
        <geometry>
          <sphere radius="0.05"/>
        </geometry>
      </collision>
      <visual name="training_wheel_3">
        <origin xyz="-0.25 -0.5 0.5" rpy="0 0 0"/>
        <geometry>
          <sphere radius="0.05"/>
        </geometry>
      </visual>
      <collision name="training_wheel_3">
        <origin xyz="-0.25 -0.5 0.5" rpy="0 0 0"/>
        <geometry>
          <sphere radius="0.05"/>
        </geometry>
      </collision>
  

</robot>